{% extends "header.html" %}
{% load staticfiles %}
{% block title %}Main Page{% endblock title %}

{% block extrahead %}
    <style>
        #dc-firstvisit-graph {
            color: black;
        }
    </style>
{% endblock %}

{% block content %}
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!--overview start-->
            <div class="row">
                <div class="col-lg-9">
                    <h2><i class="fa fa-laptop"></i>{{ date }} {{ location_name }}の詳細情報</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h3>滞在人数推移</h3>
                    <div id="dc-line-graph"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h3>意味解析結果推移</h3>
                </div>
                <div class="col-lg-1 col-md-1">
                    <h5 style="color: black;font-weight: bold;">Danger</h5>
                    <h5 style="color: black;font-weight: bold;"> Event </h5>
                    <h5 style="color: black;font-weight: bold;"> Congestion </h5>
                    <h5 style="color: black;font-weight: bold;"> Confuse </h5>
                    <h5 style="color: black;font-weight: bold;"> Stable </h5>
                </div>
                <div class="col-lg-11 col-md-11">
                    <div id="dc-label"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4>
                        <div id="dc-present-time"></div>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h3>訪日外国人比率</h3>
                    <div id="dc-country-graph"></div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3>初回来客比率</h3>
                    <div id="dc-firstvisit-graph"></div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3>滞在人数と滞在平均時間の分布</h3>
                    <div id="dc-bubble-graph"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div id="dc-time-range"></div>
                </div>
            </div>
        </section>
    </section>

    <!-- javascripts -->
    <!--script for this page only-->
    <script src="{% static 'js/calendar-custom.js' %}"></script>
    <script src="{% static 'js/jquery.rateit.min.js' %}"></script>
    <script src="https://d3js.org/d3.v3.js"></script>
    <script src="{% static 'js/crossfilter.js' %}"></script>
    <script src="{% static 'js/dc.js' %}"></script>

    <!--custome script for all page-->
    <script src="{% static 'js/scripts.js' %}"></script>

    <!-- custom script for this page-->
    <script>
        var lineChart = dc.lineChart("#dc-line-graph");
        var countryChart = dc.pieChart("#dc-country-graph");
        var firstVisitChart = dc.pieChart("#dc-firstvisit-graph");
        var timeRange = dc.lineChart('#dc-time-range');
        var bubbleChart = dc.bubbleChart('#dc-bubble-graph');
        var labelChart = dc.lineChart('#dc-label');
        var presentTime = dc.dataTable('#dc-present-time');

        function render_plots() {
            lineChart
                    .width(1200)
                    .height(150)
                    .x(d3.time.scale().domain([minTime, maxTime]))
                    .brushOn(true)
                    .yAxisLabel("Number of People")
                    .xAxisLabel("Time")
                    .clipPadding(10)
                    .elasticY(true)
                    //.mouseZoomable(true)
                    .dimension(dimTime)
                    .group(grpTime);

            countryChart
                    .width(400)
                    .height(130)
                    .dimension(dimCountry)
                    .group(grpCountry)
                    .slicesCap(4)
                    .innerRadius(10)
                    .legend(dc.legend().x(300).y(5).itemHeight(7).gap(5))
                    .on('pretransition', function (chart) {
                        chart.selectAll('text.pie-slice').text(function (d) {
                            return d.data.key + ' ' + dc.utils.printSingleValue((d.endAngle - d.startAngle) / (2 * Math.PI) * 100) + '%';
                        })
                    });

            firstVisitChart
                    .width(400)
                    .height(130)
                    .dimension(dimFirstVisit)
                    .group(grpFirstVisit)
                    .slicesCap(4)
                    .innerRadius(10)
                    .legend(dc.legend().x(300).y(5).itemHeight(7).gap(5))
                    .on('pretransition', function (chart) {
                        chart.selectAll('text.pie-slice').text(function (d) {
                            return d.data.key + ' ' + dc.utils.printSingleValue((d.endAngle - d.startAngle) / (2 * Math.PI) * 100) + '%';
                        })
                    });

            bubbleChart
                    .width(400)
                    .height(130)
                    .dimension(dimStayTime)
                    .group(dimStayTime.group().reduceCount())
                    .keyAccessor(function (d) {
                        return d.key[0];
                    })
                    .valueAccessor(function (d) {
                        return d.key[1];
                    })
                    .radiusValueAccessor(function (d) {
                        return d.value;
                    })
                    .renderLabel(false)
                    .x(d3.scale.linear().domain([0, 60]))
                    .y(d3.scale.linear().domain([0, 100]))
                    .r(d3.scale.linear().domain([0, 150]))
                    .xAxisLabel('Number of People')
                    .yAxisLabel('Average Stay Time(m)');

            labelChart
                    .width(1050)
                    .height(150)
                    .x(d3.time.scale().domain([minTime, maxTime]))
                    .y(d3.scale.linear().domain([0, 6]))
                    .brushOn(true)
                    .margins({top: -10, right: 0, bottom: 0, left: -30})
                    .elasticY(false)
                    //.mouseZoomable(true)
                    .dimension(dimTime)
                    .group(grpTimeLabel);

            presentTime
                    .width(400)
                    .height(600)
                    .dimension(dimRowsTime)
                    .group(function () {
                        return "";
                    })
                    .size(1)
                    .columns([
                        function (d) {
                            return d.interval;
                        }
                    ])
                    .sortBy(function (d) {
                        return d.interval_dc;
                    })
                    .order(d3.descending);

            timeRange
                    .width(1200)
                    .height(30)
                    .dimension(dimRowsTime)
                    .margins({top: 0, right: 0, bottom: 20, left: -1})
                    .group(grpRowsTime)
                    .x(d3.time.scale().domain([minRowsTime, maxRowsTime]));

            dc.renderAll();
        }

        var result = {{ result|safe }};
        var result_rows = {{ result_rows|safe }};
        var parseDatetime = d3.time.format("%Y-%m-%d %H:%M:%S").parse;
        result.forEach(function (d) {
            d.interval_dc = parseDatetime(d.interval);
        });
        result_rows.forEach(function (d) {
            d.interval_dc = parseDatetime(d.interval);
        });
        console.log(result);
        console.log(result_rows);

        /* run data through crossfilter */
        ndx = crossfilter(result);
        ndx_rows = crossfilter(result_rows);

        /* Set aggregate data */
        var dimTime = ndx.dimension(function (d) {
            return d.interval_dc;
        });
        var grpTime = dimTime.group().reduceSum(function (d) {
            return d.num_of_people;
        });
        var grpTimeLabel = dimTime.group().reduceSum(function (d) {
            return d.situation_label;
        });
        /* Time Range */
        var minTime = dimTime.bottom(1)[0].interval_dc;
        var maxTime = dimTime.top(1)[0].interval_dc;


        /* Set rows data */

        var dimRowsTime = ndx_rows.dimension(function (d) {
            return d.interval_dc;
        });
        var dimCountry = ndx_rows.dimension(function (d) {
            return d.country;
        });
        var dimFirstVisit = ndx_rows.dimension(function (d) {
            return d.first_visit;
        });
        var dimStayTime = ndx_rows.dimension(function (d) {
            return [d.num_of_people, d.stay_time_avg];
        });
        /* Set group */
        var grpRowsTime = dimRowsTime.group().reduceCount(function (d) {
            return d.mid;
        });
        var grpCountry = dimCountry.group().reduceCount(function (d) {
            return d.mid;
        });
        var grpFirstVisit = dimFirstVisit.group().reduceCount(function (d) {
            return d.mid;
        });
        /* Time Range */
        var minRowsTime = dimRowsTime.bottom(1)[0].interval_dc;
        var maxRowsTime = dimRowsTime.top(1)[0].interval_dc;

        console.log(grpTimeLabel.all()[0].value);

        render_plots()
    </script>
{% endblock %}
