{% extends "header.html" %}
{% load staticfiles %}
{% block title %}Main Page{% endblock title %}

{% block extrahead %}
{% endblock %}

{% block content %}
    <!-- container section start -->
    <section id="container" class="">


        <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i
                        class="icon_menu"></i></div>
            </div>

            <!--logo start-->
            <a href="{% url 'main_page' %}" class="logo">MDBL <span class="lite">Research</span></a>
            <!--logo end-->

        </header>
        <!--header end-->

        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu">
                    <li class="active">
                        <a class="" href="{% url 'main_page' %}">
                            <i class="icon_house_alt"></i>
                            <span>Home</span>
                        </a>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <!--overview start-->
                <div class="row">
                    <div class="col-lg-9">
                        <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="page-header"><i class="fa fa-font-awesome"></i>Notification</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h4>
                            <div id="dc-present-time"></div>
                        </h4>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-9 col-md-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2><i class="fa fa-map-marker red"></i><strong>Map</strong></h2>
                                <div class="panel-actions">
                                    <a href="index.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                                    <a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                                    <a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            <div class="panel-body-map">
                                <div id="map" style="width: 920px; height: 500px;position: relative;">
                                    <img src="/static/img/sfc_map.png"
                                         style="height: 500px;width: 915px;">
                                    <div id="dc-plot-table"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div id="dc-notification-table"></div>
                    </div>
                </div>
                <br><br><br><br><br><br><br>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="dc-time-range"></div>
                    </div>

                </div>


                <!-- Today status end -->

                <br><br>
                <div class="row">

                    <div class="col-lg-12 col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2><i class="fa fa-flag-o red"></i><strong>推定結果</strong></h2>
                                <div class="panel-actions">
                                    <a href="index.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                                    <a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                                    <a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table class="table bootstrap-datatable countries" id="dc-result-table">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>日時</th>
                                        <th>地点</th>
                                        <th>滞在人数</th>
                                        <th>滞在平均時間(分)</th>
                                        <th>訪日外国人比率</th>
                                        <th>初回訪問比率</th>
                                        <th>状況</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>

                    </div><!--/col-->

                </div>
                <!-- project team & activity end -->
            </section>
        </section>
        <!--main content end-->
    </section>

    <!-- javascripts -->
    <!--script for this page only-->
    <script src="{% static 'js/calendar-custom.js' %}"></script>
    <script src="{% static 'js/jquery.rateit.min.js' %}"></script>
    <script src="https://d3js.org/d3.v3.js"></script>
    <script src="{% static 'js/crossfilter.js' %}"></script>
    <script src="{% static 'js/dc.js' %}"></script>

    <!--custome script for all page-->
    <script src="{% static 'js/scripts.js' %}"></script>
    <!-- custom script for this page-->
    <script>
        var notificationTable = dc.dataTable("#dc-notification-table");
        var plotTable = dc.dataTable("#dc-plot-table");
        var resultTable = dc.dataTable("#dc-result-table");
        var timeRange = dc.lineChart('#dc-time-range');
        var presentTime = dc.dataTable('#dc-present-time');

        function render_plots() {
            notificationTable
                    .width(400)
                    .height(600)
                    .dimension(dimTime)
                    .group(function () {
                        return "";
                    })
                    .size(4)
                    .columns([
                        function (d) {
                            if (d.situation != 'Stable') {
                                return ('<div class="desc"><div class="thumb"><span class="badge bg-theme"><i class="fa fa-clock-o"></i></span></div><div class="details">' + ('<a href="{% url 'detail_page' %}?location_name=') + d.location_name + ('&date=') + d.date + ('">') + '<p><muted>' + d.interval + '</muted><br/>' + d.location_name + ' [' + d.situation + ']<br/>' + d.detail + '</p></a></div></div>');
                            }
                        }
                    ])
                    .sortBy(function (d) {
                        return d.interval_dc;
                    })
                    .order(d3.descending);

            plotTable
                    .width(400)
                    .height(400)
                    .dimension(dimTime)
                    .group(function () {
                        return "";
                    })
                    .size(5)
                    .columns([
                        function (d) {
                            if (d.location_name == '食堂') {
                                return ('<a href="{% url 'detail_page' %}?location_name=') + d.location_name + ('&date=') + d.date + ('">') + ('<p style="position: absolute; top: 195px; left: 55px; font-size:20px; color: red">') + d.situation + ('</p>') + ('</a>');
                            }
                            if (d.location_name == '生協') {
                                return ('<a href="{% url 'detail_page' %}?location_name=') + d.location_name + ('&date=') + d.date + ('">') + ('<p style="position: absolute; top: 50px; left: 220px; font-size:20px; color: red">') + d.situation + ('</p>') + ('</a>');
                            }
                            if (d.location_name == '大教室') {
                                return ('<a href="{% url 'detail_page' %}?location_name=') + d.location_name + ('&date=') + d.date + ('">') + ('<p style="position: absolute; top: 475px; left: 215px; font-size:20px; color: red">') + d.situation + ('</p>') + ('</a>');
                            }
                            if (d.location_name == '小教室') {
                                return ('<a href="{% url 'detail_page' %}?location_name=') + d.location_name + ('&date=') + d.date + ('">') + ('<p style="position: absolute; top: 110px; left: 330px; font-size:20px; color: red">') + d.situation + ('</p>') + ('</a>');
                            }
                            if (d.location_name == 'メディアセンター') {
                                return ('<a href="{% url 'detail_page' %}?location_name=') + d.location_name + ('&date=') + d.date + ('">') + ('<p style="position: absolute; top: 225px; left: 500px; font-size:20px; color: red">') + d.situation + ('</p>') + ('</a>');
                            }
                        }
                    ])
                    .sortBy(function (d) {
                        return d.interval_dc;
                    })
                    .order(d3.descending);

            presentTime
                    .width(400)
                    .height(600)
                    .dimension(dimTime)
                    .group(function () {
                        return "";
                    })
                    .size(1)
                    .columns([
                        function (d) {
                            return d.interval;
                        }
                    ])
                    .sortBy(function (d) {
                        return d.interval_dc;
                    })
                    .order(d3.descending);

            resultTable
                    .width(400)
                    .height(600)
                    .dimension(dimTime)
                    .group(function () {
                        return "";
                    })
                    .size(6)
                    .columns([
                        function (d) {
                            return '';
                        },
                        function (d) {
                            return d.interval;
                        },
                        function (d) {
                            return d.location_name;
                        },
                        function (d) {
                            return d.num_of_people;
                        },
                        function (d) {
                            return Math.round(d.stay_time_avg);
                        },
                        function (d) {
                            return Math.round(d.foreign_rate)*100 + '%';
                        },
                        function (d) {
                            return Math.round(d.firstvisit_rate)*100 + '%';
                        },
                        function (d) {
                            return d.situation;
                        }
                    ])
                    .sortBy(function (d) {
                        return d.interval_dc;
                    })
                    .order(d3.descending);

            timeRange
                    .width(1200)
                    .height(30)
                    .dimension(dimTime)
                    .margins({top: 0, right: 0, bottom: 20, left: -1})
                    .group(grpTime)
                    .x(d3.time.scale().domain([minTime, maxTime]));

            dc.renderAll();
        }

        var result = {{ result|safe }};
        var parseDatetime = d3.time.format("%Y-%m-%d %H:%M:%S").parse;
        result.forEach(function (d) {
            d.interval_dc = parseDatetime(d.interval);
        });
        console.log(result);

        /* run data through crossfilter */
        ndx = crossfilter(result);

        /* Set dimension */
        var dimLocation = ndx.dimension(function (d) {
            return d.location_name;
        });
        var dimTime = ndx.dimension(function (d) {
            return d.interval_dc;
        });
        /* Set group */
        var grpLocation = dimLocation.group().reduceSum(function (d) {
            return d.num_of_people;
        });
        var grpTime = dimTime.group().reduceSum(function (d) {
            return d.num_of_people;
        });
        /* Time Range */
        var minTime = dimTime.bottom(1)[0].interval_dc;
        var maxTime = dimTime.top(1)[0].interval_dc;
        render_plots()
    </script>
{% endblock %}
